*resharper.user
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
_ReSharper.*/
.idea*
*.resharper
resharper.settings.xml
*.user
[Bb]uild*
[Dd]ist
junit-report
junit
ProfilerMessage.java
0
*.g.csproj
temp-war-deps
/.gitversion.tmp
/.gitversion.short.tmp
*.vspscc
*.bak
*.scc
MSSCCPRJ.SCC
*.debug.css
Packages/
*.db

!skeletons/vsix/DurandalMvcSpaTemplateVsix/packages/
!build.bat
skeletons/nuget/Durandal/content/App/durandal/amd/optimizer.exe
skeletons/nuget/Durandal/content/App/durandal/amd/optimizer.pdb
skeletons/nuget/Durandal/content/App/durandal/amd/optimizerResort.exe
skeletons/nuget/Durandal/content/App/durandal/amd/optimizerResort.pdb
skeletons/vstemplate/DurandalTemplate/DurandalTemplate/App/durandal/amd/optimizer.exe
skeletons/vstemplate/DurandalTemplate/DurandalTemplate/App/durandal/amd/optimizer.pdb
skeletons/vstemplate/DurandalTemplate/DurandalTemplate/App/durandal/amd/optimizerResort.exe
skeletons/vstemplate/DurandalTemplate/DurandalTemplate/App/durandal/amd/optimizerResort.pdb
skeletons/nuget/Durandal/content/App/durandal/amd/optimizerResort.exe
skeletons/nuget/Durandal/content/App/durandal/amd/optimizerResort.pdb
skeletons/vstemplate/DurandalTemplate/DurandalTemplate/App/durandal/amd/optimizerResort.exe
skeletons/vstemplate/DurandalTemplate/DurandalTemplate/App/durandal/amd/optimizerResort.pdb
